<%- partial('_partial/header', {
  headerType: 'post',
  post: post
}) %>
<article>
  <div style="padding: 0 0 20px 0; font-size: 0.5em" class="grey">
      <%- date(post.date) %>
      <%- partial('tags', {tags: post.tags, tagHash: true}) %>
  </div>

  <div style="font-size: 0.5em">
      <%- post.content %>
  </div>

  <a href="../" style="font-size: 0.5em" class="grey">Go home</a>
</article>
